@model ShopOnline.ViewModels.System.Users.LoginRequest
@{
    ViewData["Title"] = "Login";
    var culture = CultureInfo.CurrentCulture.Name;
}

<ul class="breadcrumb">
    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
    <li class="active">Login</li>
</ul>

<div class="row">
    <div class="span4">
        <div class="well">
            <h5><localize>CREATE YOUR ACCOUNT</localize></h5><br />

            <form >
                <a href="/@culture/Account/Register" style="padding-right:0">
                    <span class="btn btn-large btn-success"><localize>Sign up</localize></span>
                </a>
            </form>
        </div>
    </div>
    <div class="span1"> &nbsp;</div>
    <div class="span4">
        <div class="well">
            <h5><localize>Login</localize></h5>
            <form action="/@culture/Account/Login" method="post">
               
                    <div class="control-group">
                        <label class="control-label" for="inputEmail1">Email</label>
                        <div class="controls">
                            <input class="span3" type="text" name="UserName" placeholder="Email">
                            <span asp-validation-for="UserName" class="text-error"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword1">Password</label>
                        <div class="controls">
                            <input type="password" class="span3" name="PassWord" placeholder="Password">
                            <span asp-validation-for="PassWord" class="text-error"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn"><localize>Sign in</localize></button> <a href="forgetpass.html">Forget password?</a>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>

