@model ShopOnline.ViewModels.Catalog.Products.ProductCreateRequest

@{
    ViewData["Title"] = "Thêm mới sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{

    <script src="https://cdn.ckeditor.com/ckeditor5/28.0.0/classic/ckeditor.js"></script>

    <script>
        ClassicEditor
            .create(document.querySelector('#txt_details'), {
                // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(err => {
                console.error(err.stack);
            });
    </script>
}

<h1>Thêm mới sản phẩm</h1>
<div class="container-fluid">
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Thêm mới sản phẩm</li>
    </ol>
    <div class="row">
        <div class="col-md-8">
            <form asp-action="Create" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OriginalPrice" class="control-label"></label>
                    <input asp-for="OriginalPrice" class="form-control" />
                    <span asp-validation-for="OriginalPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Stock" class="control-label"></label>
                    <input asp-for="Stock" class="form-control" />
                    <span asp-validation-for="Stock" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" rows="5" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Details" class="control-label"></label>
                    <textarea asp-for="Details" id="txt_details" class="form-control"></textarea>
                    <span asp-validation-for="Details" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SeoDescription" class="control-label"></label>
                    <textarea asp-for="SeoDescription" rows="5" class="form-control"></textarea>
                    <span asp-validation-for="SeoDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SeoTitle" class="control-label"></label>
                    <input asp-for="SeoTitle" class="form-control" />
                    <span asp-validation-for="SeoTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SeoAlias" class="control-label"></label>
                    <input asp-for="SeoAlias" class="form-control" />
                    <span asp-validation-for="SeoAlias" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ThumbnaiImage" class="control-label"></label>
                    <input asp-for="ThumbnaiImage" type="file" class="form-control" />
                    <span asp-validation-for="ThumbnaiImage" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" value="Create" class="btn btn-primary">Tạo mới</button>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

